Package: gswitch-gui
Version: 0.1-4
Architecture: amd64
Maintainer: Karli Sjoberg <karli@inparadise.se>
Installed-Size: 42
Depends: libc6 (>= 2.4), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.11.2+dfsg), libqt5gui5 (>= 5.11.2+dfsg), libqt5widgets5 (>= 5.11.2+dfsg), libstdc++6 (>= 5), gswitch
Section: utils
Priority: optional
Homepage: https://github.com/karli-sjoberg/gswitch-gui
Description: Friendly GUI to the "gswitch" command to change from internal to external GPU
