Package: gswitch-gui-dbgsym
Package-Type: ddeb
Source: gswitch-gui
Version: 0.1-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Karli Sjoberg <karli@inparadise.se>
Installed-Size: 379
Depends: gswitch-gui (= 0.1-4)
Section: debug
Priority: optional
Description: debug symbols for gswitch-gui
Build-Ids: af97c8ca1a31344e73b82b86ff474a3e44118bce
